.navbar a:hover{ /*EL :HOVER ME SIRVE PARA MODIFICAR SEÑALADOR DE LINK O BOTON*/
    background: rgb(161, 149, 153); /*AGREGO COLOR CUANDO ESTE ENCIMA DEL LINK*/
    border-radius: 10%;
    padding: 1% 1%;
    color: black;
}

.headerCard{

    background-color: rgb(45, 43, 43);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}


a:active {
    color: rgb(36, 179, 226);
}